@import "tailwindcss";

*,
::before,
::after {
    box-sizing: inherit;
}

html {
    /* font-size: 62.5%; */
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

/* html, body {
    overflow-y: hidden !important;
    overflow: hidden;
    touch-action: none;
} */

.scrollBlock {
    overflow-y: hidden !important;
    overflow: hidden;
    touch-action: none;
}

a {
    text-decoration: none;
    display: flex;
}

ul {
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}

.zero-w {
    width: 0;
}

.displayOff {
    display: none !important;
}

body {
    /* background-color: #3B3C36;   */
}

html {
    scroll-behavior: smooth;
}